.controls {
  padding: 0 2em 0 1em;
}

.control-item {
  display: block;
  margin-bottom: 1.5em;
  border-left: solid 1px #999;
  padding-left: .5em;

  &:last-child {
    margin-bottom: 0;
  }
}

.control-item__label {
  display: block;
  margin-bottom: .25em;
}

.controls__input--range {
  width: 100%;
}

.control-item__range-values {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.control-item__range-min,
.control-item__range-max {
  font-size: .8em;
  color: #666;
}

.control-item--boolean {
  display: flex;
  // flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;

  > .control-item__label {
    margin-bottom: 0;
  }
}

.controls__input--boolean {
  margin: 0;
}

.controls__input--list {
  width: 100%;
  outline: 0;
  padding: .1em .25em;
}
