.app-video {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
}

.app-video__display {
  display: block;
}

.app-video__overlay {
  background: rgba(255, 255, 255 , 0.3);
  position: absolute;
  letter-spacing: 1px;
  padding: .25em .5em;
  outline: 0;
  z-index: 2;
  font-size: .9em;
}
