.app-video {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
}

.rect-view {
  background-color: rgba(0, 255, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 50ms;
  z-index: 1;
}

.app-video__display {
  display: block;
}

.app-video__screeenshot {
  position: absolute;
  top: 1em;
  right: 1em;
  line-height: 2em;
  padding: 0 1em;
  border: solid 1px transparent;
  background: rgba(255, 255, 255, .5);
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
  z-index: 2;
}
